<footer class="pt-5">
  <div class="container-fluid">
    <div class="row">
      <h1 class="title-social">Our Social</h1>
      <div class="col-md-3 col-sm-6">
        <h5 class="title">Contact Us</h5>
        <ul class="list-group mt-5 mb-5">
          <li class="list-group-item">rarestoma@timmybear.com</li>
          <li class="list-group-item">tomarares@timmybear.com</li>
      </div>

      <div class="col-md-3 col-sm-6">
        <h5 class="title">More</h5>
        <ul class="list-group mt-5 mb-5">
          <a href="index.html" class="list-group-item">Home</a>
          <a href="products.html" class="list-group-item">Shop</a>
          <a href="about.html" class="list-group-item">About us</a>

      </div>

      <div class="col-sm-2">
        <a href="https://www.instagram.com/timmysocks/?hl=ro" target="_blank"><h5 class="title">Instagram</h5></a>
      </div>
      <div class="col-sm-2">
        <a href="https://www.facebook.com/Timmy-765846790458731/?modal=admin_todo_tour" target="_blank"><h5 class="title">Facebook</h5></a>
      </div>
      <div class="col-sm-2">
        <p class="mt-5 pt-5" style="width:200px;"> © 2018 Timmy Bear </p>
      </div>
    </div>
  </div>
</footer>
