<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Hermes-Dashboard</title>


  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!-- <meta name="viewport" content="width=device-width" /> -->

  <!--  Bootstrap core CSS  -->
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">

<!--  Hermes Dashboard CSS    -->
<link rel="stylesheet" type="text/css" href="../assets/css/hd.css">

<!--  Fonts and Icons   -->
<link rel="stylesheet" type="text/css" href="../assets/css/hermes-icons.css">
<link rel="stylesheet" type="text/css" href="../assets/css/swiper.min.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link href='http://fonts.googleapis.com/css?family=Roboto:900|Lobster|Montserrat:400,500,600,900|Muli:900|Pacifico|Abril+Fatface|Dosis:800' rel='stylesheet' type='text/css'>
