<nav class="navbar navbar-expand-lg  {% if page.brand == "index" %} navbar-text-blue navbar-absolute {% elsif page.brand != "product" %} navbar-absolute {% elsif page.brand == "product" %} navbar-black {% endif %}">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">{% if page.brand == "index" %}<img src="../assets/img/logo-blue.png">{% elsif page.brand !="index" %}<img src="../assets/img/timmy-text-white.png"> {% endif %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-collapse-header">
        <div class="container">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="./index.html">
                <img src="../assets/img/logo-blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbar_global" aria-expanded="true" aria-label="Toggle navigation">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-left">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">ACASA</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="products.html">MAGAZIN<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="about.html">DESPRE NOI</a>
        </li>

      </ul>
    
    </div>
  </div>
</nav>
