.carousel-inner .price p{
  color: #fff;
  font-size: 46px;
  margin-left: 32px;
  margin-top: 5px;
}

.carousel-inner .price p.old{
  position: absolute;
  top: 15px;
  left: 15px;
}

.carousel-inner .price p.new{
  margin-left: -7px;
font-size: 29px;
background: transparent;
top: 2px;
}

.carousel-inner .price p.new:after{
  position: absolute;
  content: "";
  height: 3px;
  width: 40px;
  background: #a50000;
  left: 6px;
  top: 14px;
  transform: rotate(-45deg);
}


.carousel-inner .price span{
  margin-top: -3px;
  position: absolute;
  left: 50px;
}

.carousel-inner .price{
  border: 2px solid #f00;
}

@media (max-width: 992px){
  .carousel-inner .price span{
    margin-top: 13px;
  }

  .carousel-inner .price p.new{
    margin-left: 2px;
  }

  .carousel-inner .price p.new:after{
    left: -1px;
    top: 10px;
  }
}

@media (max-width: 576px){
  .carousel-inner .price p.new{
        margin-left: -3px;
        top: 2px;
        font-size: 18px;
  }

  .carousel-inner .price p.new:after {
    left: 0px;
    top: 6px;
    height: 2px;
    width: 25px;
  }

  .carousel-inner .price p.old {
    position: absolute;
    top: 15px;
    left: -6px;
    color: white !important;
    top: 11px;
  }

  .carousel-inner .price p.old:after{
    content: none;
  }

  .carousel .carousel-inner .price span{
    left:38px;
    top: 35px;
  }

  .carousel .carousel-inner .price p.old:after{
    background: transparent;
  }
}
