---
brand: index
---


<html>
<head>

  {% include head.html %}

</head>
  <body class="index">

    {% include navbar.html %}

    <div class="section-first">
      <div class="w-100" style="position:absolute;">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366.5 958.5">
          <defs>
            <style>
              .cls-1{fill:#fff;}
              .cls-1,.cls-3,.cls-5{stroke:#000;stroke-miterlimit:10;}
              .cls-2,.cls-3{fill:url(#SVGID_1_);}
              .cls-4,.cls-5{fill:#eac6db;}
            </style>

            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="100%" y2="0%">
            	<stop  offset="0" style="stop-color:#d8e8f9"/>
            	<stop  offset="1" style="stop-color:#e7cdf6"/>
            </linearGradient>
          </defs>
          <title>section-first</title>
        <path class="cls-1" d="M696.5,373.5"/>
        <path class="cls-2" d="M.5,520.5a2036.69,2036.69,0,0,0,661-151A2036.87,2036.87,0,0,0,1247,0h119q.25,168.75.5,337.5-.25,143.75-.5,287.5c-105.85,37.59-191.88,67.91-249,88C815.13,819.15,750.42,839.95,651,845c-49,2.49-59.91-1.22-265-22C220.76,806.26,86.75,794.38,0,787Z"/><path class="cls-3" d="M-292.5,166.5"/>
        <path class="cls-4" d="M591.45,843.88,1244,942l122.5,16.5q-.25-170.75-.5-341.5Z"/>
        <path class="cls-5" d="M1467.5,582.5"/>
        <path class="cls-4" d="M571,847"/>
        <path class="cls-4" d="M1253,1007"/></svg>
      </div>
      <div class="container">
        <div class="row" style="position: inherit;">
          <div class="col-md-6 ">
            <img src="../assets/img/ljmbig.png" class="timmy-big">
            <h1 class="title">Șosete pentru oameni mari și mici</h1>
            <p>Nu vei vrea să le mai dai jos.</p>
            <a href="products.html" class="btn btn-blue btn-lg">Vezi colecția</a>
          </div>
          <div class="col-lg-5 col-md-6 mt-5">
            <img class="d-none d-md-block" src="../assets/img/sosete-donut.png" style="width:100%;">
          </div>

      </div>
    </div>

  </div>
  <div class="section-second pb-5">
    <div class="">
      <div class="col-9 m-auto section-colour-collection">
        <div class="row mt-5">
          <div class="col-7">
            <div class="tab-content">
              <div class="tab-pane fade" id="donut" role="tabpanel" aria-labelledby="duck-tab">
                  <img src="../assets/img/sosete-donut.png" class="donut">

              </div>
              <div class="tab-pane fade" id="tank" role="tabpanel">
                  <img src="../assets/img/sosete-tanc.png" class="donut">
              </div>
              <div class="tab-pane fade show active" id="duck" role="tabpanel">
                  <img src="../assets/img/sosete-duck.png" class="donut">
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="colours text-center">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" id="donut-tab" data-toggle="tab" href="#donut">
                    <div class=" circle circle-1">
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="tank-tab" data-toggle="tab" href="#tank">
                    <div class=" circle circle-2">
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" id="duck-tab" data-toggle="tab" href="#duck">
                    <div class=" circle circle-3">
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="card-colours">
              <h2 class="fw-small color-orange">CULORE</h2>
              <h2 class="fw-big color-blue">DESIGN</h2>
              <h2 class="fw-small color-purple">CALITATE</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


      <div class="section-boxes">
        <img src="../assets/img/pattern-donut.png" class="d d1">
        <img src="../assets/img/pattern-donut.png" class="d d2">
        <img src="../assets/img/pattern-donut.png" class="d d3">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <img src="../assets/img/schita-sosete.png" class="sketch">
            </div>
            <div class="col-md-6 col-5 mb-sm-5">
              <h1 class="title">In a room full of people, be unique with Timmy.</h1>
              <div class="info d-flex">
                    <div class="circle">
                      <div class="circle-dashed">
                        <i class="nc-icon nc-palette"></i>
                      </div>
                    </div>
                    <div class="text-left">
                      <h1 class="title">Design</h1>
                      <p class="category">Șostele Timmy sunt create cu grijă de către designerii noștri.</p>
                    </div>
              </div>

              <div class="info d-flex">
                <div class="circle">
                  <div class="circle-dashed">
                    <i class="nc-icon nc-spaceship"></i>
                  </div>
                </div>
                <div class="text-left">
                  <h1 class="title">Culori</h1>
                  <p class="category">Culori alese atent ce se potrivesc cu look-ul dumneavoastra.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-collection">
        <div class="container">
          <div class="row">
            <div class="col-8 m-auto text-center">
              <h1 class="title color-blue">Spread hapiness with our socks.</h1>
            </div>

          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-4">
              <img src="../assets/img/pattern-donut.png" class="pattern-1">

              <div class="card-collection tank">
                <img src="../assets/img/sosete-tanc.png">
                <a href="products.html">
                  <div class="basket basket-tank">
                    <i class="fa fa-shopping-bag"></i>
                  </div>
                </a>
              </div>


              <div class="line line-blue"></div>
            </div>

            <div class="col-4">
              <div class="card-collection donut">
                <img src="../assets/img/sosete-donut.png">
                <a href="products.html">
                  <div class="basket basket-donut">
                    <i class="fa fa-shopping-bag"></i>
                  </div>
                </a>
              </div>


              <div class="line line-pink"></div>
            </div>

            <div class="col-4">
              <img src="../assets/img/pattern-donut.png" class="pattern-2">

              <div class="card-collection duck">
                <img src="../assets/img/sosete-duck.png">
                <a href="products.html">
                  <div class="basket basket-duck">
                    <i class="fa fa-shopping-bag"></i>
                  </div>
                </a>
              </div>


              <div class="line line-purple"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-collection">
        <div class="container">
          <div class="row mt-5">
            <div class="col-8 m-auto text-center">
              <h1 class="title color-blue">Life is a better journey in pairs.</h1>
            </div>
            <div class="col-10 m-auto section-card-list">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card-small">
                    <img src="../assets/img/sosete-donut.png" class="socks">
                    <img src="../assets/img/pattern-donut.png" class="pattern">
                    <div class="card-body">
                      <p class="card-title">Avem și:</p>
                      <h4 class="card-category">Seturi</h4>
                      <ul class="list-group">
                        <li class="list-group-item"><div class="check"><i class="fa fa-check"></i></div>Perfecte pentru cadouri</li>
                        <li class="list-group-item"><div class="check"><i class="fa fa-check"></i></div>Seturi de 2, 3, 4, 5 și 6 perechi</li>
                        <li class="list-group-item"><div class="check"><i class="fa fa-check"></i></div>Poți alege între același model sau modele diferite într-o cutie</li>
                      </ul>
                      <a href="products.html#box" class="btn btn-lg btn-shadow">Vezi seturile</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

    {% include footer.html %}

    <script src="../assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
      <script src="../assets/js/core/bootstrap.min.js"></script>
      <script src="../assets/js/hd.js"></script>
  </body>
</html>
