---
---



<html>
<head>

  {% include head.html %}

</head>
  <body>

    {% include navbar.html %}

		<div class="section section-shop-carousel">
      <label class="label-arrow-down" for="btn-arrow-down">Go to box configurator</label>
      <button id="btn-arrow-down" class="btn btn-arrow-down"><i class="fa fa-angle-down"></i></button>

			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">

			  <ol class="carousel-indicators">
			    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active text-center" style="background:#006bb6;">
						<img src="../assets/img/donut-pink.png">
					</li>
			    <li data-target="#carouselExampleIndicators" class="text-center" data-slide-to="1" style="background:#ffb600;">
						<img src="../assets/img/tanc.png">
					</li>
			    <li data-target="#carouselExampleIndicators" class="text-center" data-slide-to="2" style="background:#493892;">
						<img src="../assets/img/duck.png">
					</li>
			  </ol>
			  <div class="carousel-inner">
			    <div class="carousel-item carousel-item-donut active" style="background:radial-gradient(#136fb5 0%, #023052 100%);">
            <div class="image-container">

                 <div class="small-circles">
                   <div class="big-rotating-circle">
                   </div>
                   <div class="small-circle-dashed">
                     <div class="small-circle">
                       <div class="circle-point">
                       </div>
                     </div>
                     <badge><p>Yummy</p></span>
                   </div>
                 </div>
			           <img class="d-block" src="../assets/img/sock1.png" alt="First slide">
            </div>
						<h1 style="color:#0069bb;">Donut</h1>

            <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Donut socks
                        <span class="caret"></span>
                      </button>

                    </h5>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      Te-ai gândit vreodată că și picioarele tale merită tratate
                      cu niște gogoși delicoase? Nu lăsa toata distracția asupra stomacului tău.
                       Cu un aspect apetisant, aceste șosete vor aduce o pată de culoare oricarăi ținute.
                        Ele sunt o metodă simplă de a scoate copilul din tine!
                    </div>
                  </div>
                </div>


                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
                        Product Details
                        <span class="caret"></span>
                      </button>

                    </h5>
                  </div>

                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                    80% bbc, 18% pa, 2% elastan

                    </div>
                  </div>
                </div>

              </div>
			    </div>

			    <div class="carousel-item carousel-item-tank active" id="carousel-item1" style="background:radial-gradient(#fdb44e 0%, #e68100 100%)">
            <div id="accordionTank">
              <div class="card">
                <div class="card-header" id="headingOneTank">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOneTank" aria-expanded="true" aria-controls="collapseOneTank">
                      Tank Socks
                      <span class="caret"></span>
                    </button>

                  </h5>
                </div>

                <div id="collapseOneTank" class="collapse show" aria-labelledby="headingOneTank" data-parent="#accordionTank">
                  <div class="card-body">
                    Te-ai gândit vreodată ce se întâmplă pe un front de luptă? Ia-ti șosetele cu tancuri și o să vezi cu
                     ochii tăi! Bineînțeles că în termeni jucăuși.
                    Această pereche este un plus perfect pentru o ținută simplă. Sau pentru un cadou inspirat, de ce nu.
                  </div>
                </div>
              </div>


              <div class="card">
                <div class="card-header" id="headingTwoTank">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwoTank" aria-expanded="false" aria-controls="collapseOneTanks">
                      Details
                      <span class="caret"></span>
                    </button>

                  </h5>
                </div>

                <div id="collapseTwoTank" class="collapse" aria-labelledby="headingTwoTank" data-parent="#accordionTank">
                  <div class="card-body">
                    80% bbc, 18% pa, 2% elastan
                  </div>
                </div>

              </div>
            </div>
            <div class="image-container">
              <img class="d-block" src="../assets/img/sock2.png" alt="Second slide">
            </div>
						<h1 style="color:#f4a500;">Tank</h1>

			    </div>
			    <div class="carousel-item carousel-item-duck active" id="carousel-item2" style="background:radial-gradient(#d4483c 0%, #d72717 100%)">
            <div id="accordionDuck">
              <div class="card">
                <div class="card-header" id="headingOneDuck">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOneDuck" aria-expanded="true" aria-controls="collapseOneDuck">
                      Duck Socks
                      <span class="caret"></span>
                    </button>

                  </h5>
                </div>

                <div id="collapseOneDuck" class="collapse show" aria-labelledby="headingOneDuck" data-parent="#accordionDuck">
                  <div class="card-body">
                    Știai că movul este culoarea pasiunii, romantismului și emoțiilor?
                    Incepe-ți ziua cu o emoție și un zâmbet în șosetele noastre mov cu rațe.
                     Ieși din anonimat și pune acel accent indispensabil unei ținute cool purtând aceste șosete creative.
                  </div>
                </div>
              </div>


              <div class="card">
                <div class="card-header" id="headingTwoDuck">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwoDuck" aria-expanded="false" aria-controls="collapseOneDuck">
                      Details
                      <span class="caret"></span>
                    </button>

                  </h5>
                </div>

                <div id="collapseTwoDuck" class="collapse" aria-labelledby="headingTwoDuck" data-parent="#accordionDuck">
                  <div class="card-body">
                    80% bbc, 18% pa, 2% elastan
                  </div>
                </div>
              </div>
            </div>
            <div class="image-container">
			           <img class="d-block" src="../assets/img/sock3.png" alt="Third slide">
            </div>
						<h1 style="color:#eff0ef;">Duck</h1>

			    </div>
			  </div>
			</div>
    </div>

      <div class="tabs-section" id="box">
        <label class="label-arrow-up" for="btn-arrow-up">See our models</label>
        <button id="btn-arrow-up" class="btn btn-arrow-up"><i class="fa fa-angle-up"></i></button>
        <div class="row">
          <div class="col-3">
           <ul class="nav nav-tabs flex-column" id="myTab1" role="tablist">
             <li class="nav-item">
               <a class="nav-link active" id="donut1-tab" data-toggle="tab" href="#box1-donut" role="tab" aria-controls="box1-donut" aria-selected="true">Box 1</a>
               <h5>Couple Box</h5>
               <p>2 pairs</p>
               <h4>79<span>RON</span></h4>
             </li>
             <li class="nav-item">
               <a class="nav-link" id="donut2-tab" data-toggle="tab" href="#box2-donut" role="tab" aria-controls="box2-donut" aria-selected="false">Box 2</a>
               <h5>Familly Box 1</h5>
               <p>3 pairs</p>
               <h4>99<span>RON</span></h4>
             </li>
             <li class="nav-item">
               <a class="nav-link" id="donut3-tab" data-toggle="tab" href="#box3-donut" role="tab" aria-controls="box3-donut" aria-selected="false">Box 3</a>
               <h5>Familly Box 2</h5>
               <p>4 pairs</p>
               <h4>129<span>RON</span></h4>
             </li>
             <li class="nav-item">
               <a class="nav-link" id="donut4-tab" data-toggle="tab" href="#box4-donut" role="tab" aria-controls="box4-donut" aria-selected="false">Box 4</a>
               <h5>Big Familly Box</h5>
               <p>5 pairs</p>
               <h4>159<span>RON</span></h4>
             </li>
             <li class="nav-item">
               <a class="nav-link" id="donut5-tab" data-toggle="tab" href="#box5-donut" role="tab" aria-controls="box5-donut" aria-selected="false">Box 5</a>
               <h5>Huge Familly Box</h5>
               <p>6 pairs</p>
               <h4>199<span>RON</span></h4>
             </li>
           </ul>
       </div>

       <div class="col-9">


       <div class="tab-content text-center" id="myTabContent">
          <div class="tab-pane fade show active text-center" id="box1-donut" role="tabpanel" aria-labelledby="donut1-tab">
           <div class="big-box-1 hover">
             <div class="big-box" style="background:url('../assets/img/pattern.jpg'); background-position: center center; background-size: 115%;">
             </div>
             <div class="box-1">

               <div class="swiper-container">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                 </div>

                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>
               </div>

               <div class="form-group text-center mt-2">
                <select class="form-control">
                  <option>41-45</option>
                  <option>36-40</option>
                  <option>31-34(7-8y)</option>
                  <option>28-30(5-6y)</option>
                  <option>25-27(3-4y)</option>
                  <option>21-23(1-2y)</option>
                </select>
              </div>

             </div>
             <div class="box-2">

               <div class="swiper-container">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                 </div>
                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>
               </div>

               <div class="form-group text-center mt-2">
                <select class="form-control">
                  <option>41-45</option>
                  <option>36-40</option>
                  <option>31-34(7-8y)</option>
                  <option>28-30(5-6y)</option>
                  <option>25-27(3-4y)</option>
                  <option>21-23(1-2y)</option>
                </select>
              </div>

            </div>

           </div>
         </div>

         <div class="tab-pane fade active" id="box2-donut" role="tabpanel" aria-labelledby="donut2-tab">
          <div class="big-box-1 hover">
            <div class="big-box" style="background:url('../assets/img/pattern.jpg'); background-position: center center; background-size: 115%;">
            </div>
            <div class="box-1">

              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                  <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                  <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>

              <div class="form-group text-center mt-2">
               <select class="form-control">
                 <option>41-45</option>
                 <option>36-40</option>
                 <option>31-34(7-8y)</option>
                 <option>28-30(5-6y)</option>
                 <option>25-27(3-4y)</option>
                 <option>21-23(1-2y)</option>
               </select>
             </div>
            </div>
            <div class="box-2">

              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                  <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                  <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>


              </div>

              <div class="form-group text-center mt-2">
               <select class="form-control">
                 <option>41-45</option>
                 <option>36-40</option>
                 <option>31-34(7-8y)</option>
                 <option>28-30(5-6y)</option>
                 <option>25-27(3-4y)</option>
                 <option>21-23(1-2y)</option>
               </select>
             </div>
            </div>

            <div class="box-3">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                  <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                  <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>

              </div>


              <div class="form-group text-center mt-2">
               <select class="form-control">
                 <option>41-45</option>
                 <option>36-40</option>
                 <option>31-34(7-8y)</option>
                 <option>28-30(5-6y)</option>
                 <option>25-27(3-4y)</option>
                 <option>21-23(1-2y)</option>
               </select>
             </div>
            </div>

          </div>
        </div>

         <div class="tab-pane fade active" id="box3-donut" role="tabpanel" aria-labelledby="donut3-tab">
           <div class="big-box-1 hover">
             <div class="big-box" style="background:url('../assets/img/pattern.jpg'); background-position: center center; background-size: 115%;">
             </div>
             <div class="box-1">
               <div class="swiper-container">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                 </div>

                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>


               </div>

               <div class="form-group text-center mt-2">
                <select class="form-control">
                  <option>41-45</option>
                  <option>36-40</option>
                  <option>31-34(7-8y)</option>
                  <option>28-30(5-6y)</option>
                  <option>25-27(3-4y)</option>
                  <option>21-23(1-2y)</option>
                </select>
              </div>
             </div>
             <div class="box-2">
               <div class="swiper-container">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                 </div>

                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>


               </div>

               <div class="form-group text-center mt-2">
                <select class="form-control">
                  <option>41-45</option>
                  <option>36-40</option>
                  <option>31-34(7-8y)</option>
                  <option>28-30(5-6y)</option>
                  <option>25-27(3-4y)</option>
                  <option>21-23(1-2y)</option>
                </select>
              </div>
             </div>
             <div class="box-3">
               <div class="swiper-container">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                 </div>

                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>


               </div>

               <div class="form-group text-center mt-2">
                <select class="form-control">
                  <option>41-45</option>
                  <option>36-40</option>
                  <option>31-34(7-8y)</option>
                  <option>28-30(5-6y)</option>
                  <option>25-27(3-4y)</option>
                  <option>21-23(1-2y)</option>
                </select>
              </div>
             </div>

             <div class="box-4">
               <div class="swiper-container">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                 </div>

                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>


               </div>

               <div class="form-group text-center mt-2">
                <select class="form-control">
                  <option>41-45</option>
                  <option>36-40</option>
                  <option>31-34(7-8y)</option>
                  <option>28-30(5-6y)</option>
                  <option>25-27(3-4y)</option>
                  <option>21-23(1-2y)</option>
                </select>
              </div>
            </div>
           </div>
         </div>

         <div class="tab-pane fade active" id="box4-donut" role="tabpanel" aria-labelledby="donut4-tab">
           <div class="big-box-1 hover">
             <div class="big-box" style="background:url('../assets/img/pattern.jpg'); background-position: center center; background-size: 115%;">
             </div>
             <div class="box-1">
               <div class="swiper-container">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                 </div>

                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>


               </div>

               <div class="form-group text-center mt-2">
                <select class="form-control">
                  <option>41-45</option>
                  <option>36-40</option>
                  <option>31-34(7-8y)</option>
                  <option>28-30(5-6y)</option>
                  <option>25-27(3-4y)</option>
                  <option>21-23(1-2y)</option>
                </select>
              </div>
             </div>
             <div class="box-2">
               <div class="swiper-container">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                 </div>

                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>


               </div>

               <div class="form-group text-center mt-2">
                <select class="form-control">
                  <option>41-45</option>
                  <option>36-40</option>
                  <option>31-34(7-8y)</option>
                  <option>28-30(5-6y)</option>
                  <option>25-27(3-4y)</option>
                  <option>21-23(1-2y)</option>
                </select>
              </div>
             </div>
             <div class="box-3">
               <div class="swiper-container">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                 </div>

                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>


               </div>

               <div class="form-group text-center mt-2">
                <select class="form-control">
                  <option>41-45</option>
                  <option>36-40</option>
                  <option>31-34(7-8y)</option>
                  <option>28-30(5-6y)</option>
                  <option>25-27(3-4y)</option>
                  <option>21-23(1-2y)</option>
                </select>
              </div>
             </div>

             <div class="box-4">
               <div class="swiper-container">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                 </div>

                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>


               </div>

               <div class="form-group text-center mt-2">
                <select class="form-control">
                  <option>41-45</option>
                  <option>36-40</option>
                  <option>31-34(7-8y)</option>
                  <option>28-30(5-6y)</option>
                  <option>25-27(3-4y)</option>
                  <option>21-23(1-2y)</option>
                </select>
              </div>
             </div>


             <div class="box-5">
               <div class="swiper-container">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                 </div>

                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>


               </div>

               <div class="form-group text-center mt-2">
                <select class="form-control">
                  <option>41-45</option>
                  <option>36-40</option>
                  <option>31-34(7-8y)</option>
                  <option>28-30(5-6y)</option>
                  <option>25-27(3-4y)</option>
                  <option>21-23(1-2y)</option>
                </select>
              </div>
             </div>


           </div>
         </div>


         <div class="tab-pane fade active" id="box5-donut" role="tabpanel" aria-labelledby="donut5-tab">
           <div class="big-box-1 hover">
             <div class="big-box" style="background:url('../assets/img/pattern.jpg'); background-position: center center; background-size: 115%;">
             </div>
             <div class="box-1">
               <div class="swiper-container">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                 </div>

                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>


               </div>

               <div class="form-group text-center mt-2">
                <select class="form-control">
                  <option>41-45</option>
                  <option>36-40</option>
                  <option>31-34(7-8y)</option>
                  <option>28-30(5-6y)</option>
                  <option>25-27(3-4y)</option>
                  <option>21-23(1-2y)</option>
                </select>
              </div>
             </div>
             <div class="box-2">
               <div class="swiper-container">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                 </div>

                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>


               </div>

               <div class="form-group text-center mt-2">
                <select class="form-control">
                  <option>41-45</option>
                  <option>36-40</option>
                  <option>31-34(7-8y)</option>
                  <option>28-30(5-6y)</option>
                  <option>25-27(3-4y)</option>
                  <option>21-23(1-2y)</option>
                </select>
              </div>
             </div>
             <div class="box-3">
               <div class="swiper-container">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                 </div>

                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>


               </div>

               <div class="form-group text-center mt-2">
                <select class="form-control">
                  <option>41-45</option>
                  <option>36-40</option>
                  <option>31-34(7-8y)</option>
                  <option>28-30(5-6y)</option>
                  <option>25-27(3-4y)</option>
                  <option>21-23(1-2y)</option>
                </select>
              </div>
             </div>

             <div class="box-4">
               <div class="swiper-container">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                 </div>

                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>


               </div>

               <div class="form-group text-center mt-2">
                <select class="form-control">
                  <option>41-45</option>
                  <option>36-40</option>
                  <option>31-34(7-8y)</option>
                  <option>28-30(5-6y)</option>
                  <option>25-27(3-4y)</option>
                  <option>21-23(1-2y)</option>
                </select>
              </div>
             </div>


             <div class="box-5">
               <div class="swiper-container">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                 </div>

                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>


               </div>

               <div class="form-group text-center mt-2">
                <select class="form-control">
                  <option>41-45</option>
                  <option>36-40</option>
                  <option>31-34(7-8y)</option>
                  <option>28-30(5-6y)</option>
                  <option>25-27(3-4y)</option>
                  <option>21-23(1-2y)</option>
                </select>
              </div>
             </div>

             <div class="box-6">
               <div class="swiper-container">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-duck.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-donut.png" alt="First slide"></div>
                   <div class="swiper-slide"><img class="d-block" src="../assets/img/sosete-tanc.png" alt="First slide"></div>

                 </div>

                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>


               </div>

               <div class="form-group text-center mt-2">
                <select class="form-control">
                  <option>41-45</option>
                  <option>36-40</option>
                  <option>31-34(7-8y)</option>
                  <option>28-30(5-6y)</option>
                  <option>25-27(3-4y)</option>
                  <option>21-23(1-2y)</option>
                </select>
              </div>
             </div>


           </div>
         </div>

       </div>
     </div>
   </div>
     </div>

     <div class="row">
       <div class="col-10 m-auto">
         <div class="card card-white px-5 py-5 mt-5 mb-5">
             <div class="row">
               <div class="col-sm-6 mb-5 text-left">
                 <h3 class="info-text"> Lasa-ne un mesaj</h3>
                 <div class="form-group">
                   <label for="firstname" class="req">NUME:</label>
                   <input type="text" name="firstname" class="form-control">
                </div>

                <div class="form-group">
                  <label for="email" class="req">adresa email:</label>
                  <input type="email" name="email" class="form-control">
                </div>

                <div class="form-group">
                   <label>Mesajul tau:</label>
                   <textarea class="form-control" rows="3"></textarea>
                 </div>

                 <button class="btn btn-blue btn-lg mt-0 ml-0">Trimite</button>
               </div>
               <div class="col-sm-6 text-left">
                 <h3 class="info-text">Contact</h3>
                 <p class="info-text-pharagraph mb-4">Pentru orice problema legata de produsele livrate va rugam sa ne contactati folosind acest formular.</p>
                 <p class="info-text-pharagraph">Daca doresti sa ne recomanzi imbunatatiri/sfaturi, nu ezita sa ne contactezi!</p>
                 <h3 class="info-text mt-5">Despre noi</h3>
                 <p class="info-text-pharagraph">Timmy a fost creat cu un singur scop; de a transforma un accesoriu zilnic intr-un articol vestimentar care emana bucurie. In vederea atingerii acestui scop, noi ne straduim sa cream sosetele la cele mai inalte standarde prin calitate, design si creativitate.</p>
               </div>

             </div>
           </div>
         </div>
     </div>


     {% include footer.html %}

    <script src="../assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    	<script src="../assets/js/core/bootstrap.min.js"></script>
      <script src="../assets/js/swiper.min.js"></script>
      <script src="../assets/js/hd.js"></script>

      <script>
   var swiper = new Swiper('.swiper-container', {
     navigation: {
       nextEl: '.swiper-button-next',
       prevEl: '.swiper-button-prev',
     },
   });

   $(document).ready(function(){
     var element1 = document.getElementById("box2-donut");
      element1.classList.remove("active");

     var element2 = document.getElementById("box3-donut");
      element2.classList.remove("active");

     var element3 = document.getElementById("box4-donut");
      element3.classList.remove("active");

     var element4 = document.getElementById("box5-donut");
      element4.classList.remove("active");

     var element5 = document.getElementById("carousel-item1");
      element5.classList.remove("active");

      var element6 = document.getElementById("carousel-item2");
       element6.classList.remove("active");
   })
 </script>
  </body>
</html>
