@mixin diagonal-gradient($start-color, $end-color){
  background: $start-color;
  background: -webkit-linear-gradient(left top, $start-color, $end-color);
  background: -o-linear-gradient(bottom left, $start-color, $end-color);
  background: -moz-linear-gradient(bottom left, $start-color, $end-color);
  background: linear-gradient(to bottom left, $start-color, $end-color);
}

@mixin rotate-180(){
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
