.about .section-first{
  height: 100vh !important;
  overflow: hidden;
  h2{
    font-size: 50px;
    margin-top: -25px;
  }

  h1{
    color: rgba(255,255,255,0.9);
  }
}

.login{
  .container{
    padding: 150px 100px;
  }

  .section-first{
    overflow: hidden;
  }
}

 .login,.cart, .contact, .register{
  .section-first{
    height: auto;
    h1{
      margin-top: 150px;
      text-shadow: none;
      color: rgba(255,255,255,0.1);

    }
    h2{
      color: white;
      font-size: 50px;
      margin-top: -80px;
      font-weight: 800;
    }
  }
}

  .about, .login, .card{
  .section-first > img{
    position: absolute;
    opacity: 0.3;
    width: 20%;
    &:first-child{
      top: 43%;
      transform: rotate(-30deg);
      width: 23%;
    }
    &:nth-child(2){
      right: -4%;
      transform: rotate(-27deg);
      top: 7%;
      width: 21%;

    }

    &:nth-child(3){
      top: -9%;
      left: 16%;
      transform: rotate(45deg);
      width: 13%;
    }
  }

  .col-md-6{
    padding: 0;
  }
}
.about {
  overflow: hidden;

  h1{
    text-shadow: none;
    margin-top: 200px;
  }

  h2{
    position: relative;
    color: #fff;
    margin: auto;
    font-size: 50px;
    top: 20px;
    width: 700px;
    font-weight: 600;
    i{
      position: absolute;

      color: #ffffff40;
      &:first-child{
        bottom: -10px;
        left: 0;
      }

      &:last-child{
        top: 0;
        right: 0;
      }

    }
  }
  p{
    padding: 30px 150px;
    font-size: 16px;
    line-height: 27px;
    font-family: inherit;
    margin-top: 25px;
    color: #ececec;
    font-weight: 400;
    max-width: 100%;
  }
}
