.index .section-first p{
  color: #3c3c3c;
}

.index .section-first{
  min-height: 100vh;
  height: auto;
}
.section-first{

  position: relative;
  height: 100vh;
  img.timmy-big{
    position: absolute;
    width: 40%;
    opacity: 0.05;
    top: 15%;
    left: 0;
  }

  h1{
    margin-top: 250px;
    text-transform: uppercase;
    font-size: 85px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 90px;
    color: white;
    margin-left: 15px;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.24);
    &.title{
      font-family: 'Dosis';
      text-transform: none;
      text-shadow: none;
      line-height: 80px;
      font-size: 90px;
      color: #6467e9;
      margin-top: 150px;
    }
  }
  p{
    padding-left: 15px;
    font-size: 35px;
    margin-top: 50px;
    color: #fff;
    font-family: 'Dosis';
    line-height: 45px;
    max-width: 400px;
    &.text-muted{
      text-shadow: none;
    }
  }
  .timmy-box{
    width: 120%;
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px 0px black;
    transform: rotate(-65deg);

  }

  &:before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    //background: url("../../assets/img/pattern.png");
    background-size: 5%;
  }

  &.section-first-blue{
    background: #6261f3;
    background: radial-gradient(#136fb5 0%, #023052 100%);
  }
}


.section-second{

  min-height: 500px;
  .image-container{
    position: relative;
    background: white;
    //overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
    width: 200px;
    margin: auto;
    height: 200px;
    &.stars{
      animation: stars 2s cubic-bezier(0,0,0,0) infinite;
      background-size: 90% !important;
      transform: rotate(-10deg);
    }
  }
  .card{
    padding: 0 80px;
    background: transparent;
    font-family: 'Abril Fatface';
    .text-white{
      color: white;
    }
    .card-header{
      h1, p{
        text-transform: capitalize;
      }
      h1{
        font-family: 'Montserrat';
        color: white;
        line-height: 70px;
        font-size: 60px;
      }

      p{
        font-family: 'Montserrat';
        font-weight: 500;
        color: white;
      }

    }
    .card-body{
      img{
        width: 15%;
      }

      h5{
        margin-bottom: 40px;
        line-height: 40px;
      }
      .love{
        animation: love 1s ease infinite;
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 40%;
      }
      .c{


        animation: confetti 2s cubic-bezier(0.66,-3.1, 0, 3.51) infinite;
        position: absolute;
        width: 120%;
        left: 50%;
        top: 35%;
        transform: translate(-50%,-50%);
      }
      .socks{
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
      }
      .box{
        width: 50%;
        margin-top: 90px;
      }
      .light{
        animation: animation-top-bottom 2s ease infinite;
        position: absolute;
        width: 25%;
        left: 50%;
        transform: translate(-50%);
        top: 54%;
      }

      .plic{
          animation: animation-plic 0.5s ease infinite;
      }

      .hand{
        position: absolute;
        z-index: 1;
        top: 60%;
        left: -38px;
        width: 55%;
      }
      p{
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        font-family: 'Montserrat';
        width: 200px;
        margin: auto;
        margin-top: 35px;
      }

      &.position-absolute{
        background: #fdbf4b;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 95%;
        width: 73%;
        transform: translate(-50%,0%);
      }
    }
  }

  .collection{
    position: relative;
    .circle-arrow{
      width: 100%;
      margin-left: 35%;
      margin-top: 15%;
    }

    .formed-star, .rotating-star{
      width: 15%;
      position: absolute;
      left: 47%;
      top: 50%;
    }

    .formed-star{
      z-index: 2;
    }

    .rotating-star{
      z-index: 1;
      animation: animation-rotation 0.7s cubic-bezier(0, 0, 0, 0) infinite;
    }
    p{
      position: absolute;
      top: 59%;
      left: 53%;
      z-index: 3;
      font-family: 'Abril Fatface';
    }

  }

  .btn-orange{
    position: relative;
    top: 87%;
    left: 35%;
  }
}


.section-card-list{

  > .row{
    background: white;
    box-shadow: 0px 10px 60px 1px rgba(0, 0, 0, 0.13);
    border-radius: 6px;
  }
  .row{
    margin: 0;
  }

  [class*="col-"]{
    padding: 0;
  }
  .col-sm-12{
    overflow: hidden;
  }
  .card-small{
    padding: 15px;
    background-color: #6758e5;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    img.socks{
      position: absolute;
      width: 45%;
      right: 0px;
      opacity: 0.1;
    }
    img.pattern{
      position: absolute;
      top: -50px;
      z-index: 0;
      opacity: 0.1;
    }
    .card-title{
      text-transform: uppercase;
      color: #ffa64e;
      font-size: 14px;
      font-weight: 700;
    }

    .card-category{
      color: #fff;
      font-family: 'Dosis';
      margin-top: 15px;
      font-size: 35px;
    }

    .list-group{
      margin: 20px 0 40px;
      .list-group-item{
        background: transparent;
        border: none;
        color: #fff;
        padding: 7px 30px;
        font-size: 12px;
        font-weight: 600;
        .check{
          height: 17px;
          width: 17px;
          position: absolute;
          background: orange;
          left: 0;
          border-radius: 50%;
          top: 8px;
          padding: 3px;
        }
      }
    }

    .btn{
      color: #6b5ade;
      &:hover{
        color: white;
      }
    }
  }

  .card-big{
    text-align: center;
    background: white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    h2{
      font-size: 55px;
      padding: 120px 50px 0 50px;
      color: #676ae3;
      font-weight: 400;
      .fa{
        opacity: 0.1;
        position: absolute;
        &.fa-quote-left{
          left: 65px;
          top: 135px;
          }

        &.fa-quote-right{
          right: 55px;
          top: 200px;
        }
        }
      }


  }
}

.section-colour-collection{
  img.donut{
    width: 80%;
  }
  .colours{
    margin-top: 150px;
    height: 110px;
    background: white;
    box-shadow: 0px 10px 60px 1px rgba(0, 0, 0, 0.13);
    border-radius: 60px;
    width: 320px;
    .nav-tabs{
      border: none;
      .nav-item{
        .nav-link{
          background: transparent;
          padding: 0 5px;
          &:hover{
            background: transparent;
          }

          .circle{
            transition: 0.2s ease;
          }

          &.active{
            .circle{
              border: 5px solid white;
            }
            &:hover{
              .circle{
                opacity: 1;
              }
            }

          }

          &:hover{
            .circle{
              transition: 0.2s ease;
              opacity: 0.4;
            }
          }
        }
      }
    }
    .circle{

      box-shadow: 0px 10px 60px 1px rgba(0, 0, 0, 0.13);
      height: 80px;
      background: white;
      width: 80px;
      margin: 15px 8px;
      border-radius: 50%;
      display: inline-block;
      background-size: cover;
      &.circle-1{
        background-image: url("../../assets/img/donut-color.png");
      }

      &.circle-2{
        background-image: url("../../assets/img/tank-color.png");
      }

      &.circle-3{
        background-image: url("../../assets/img/duck-color.png");
      }
    }
  }

  .card-colours{
    margin-top: 50px;
    padding: 30px;
    border-radius: 6px;
    background: white;
    width: 320px;
    text-align: center;
    box-shadow: 0px 10px 60px 1px rgba(0, 0, 0, 0.13);
    h2{
      margin-bottom: 0;

    }
  }
}

.section-boxes{
  position: relative;
  background-image: url(../../assets/img/wave.svg);
  background-size: cover;
  min-height: 1000px;
  width: 100%;
  img.sketch{
    width: 40%;
    position: absolute;
    top:45%;
    left: 40%;
  }

  img.d{
    position: absolute;
    opacity: 0.05;
    width: 25%;
    &.d1{
      bottom: 0;
      left: 0;
    }
    &.d2{
      right: 0;
      bottom: 0;
    }

    &.d3{
      right: 20%;
      bottom: 33%;
    }
  }
  h1.title{
    font-family: 'Dosis';
    text-transform: none;
    text-shadow: none;
    line-height: 60px;
    font-size: 60px;
    color: #fff;
    margin-top: 350px;
    margin-bottom: 70px;
  }
  .circle{
    height: 120px;
    width: 120px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 50px;
    .circle-dashed{
      height: 90px;
       width: 90px;
       border: 2px dashed #ffffff7d;
       border-style: dashed;
       border-radius: 50%;
       margin: auto;
       margin-top: 13px;
       i{
         color: white;
          font-size: 45px;
          padding: 20px;

       }

    }
  }

  .info{
    h1.title{
      color: white;
      font-family: 'Dosis';
      font-size: 35px;
      margin-left: 30px;
      margin-top: 10px;
      margin-bottom: 5px;
    }
    p.category{
      margin-left: 30px;
      color: white;
      font-size: 14px;
    }
  }
}

.section-collection{
  width: 100%;
  h1.title{
    font-family: 'Dosis';
    text-transform: none;
    text-shadow: none;
    line-height: 80px;
    font-size: 80px;
    margin-bottom: 70px;
    margin-top: 150px;

  }
  .pattern-1{
      position: absolute;
      z-index: -1;
      top: 65%;
      opacity: 0.03;
      left: 15%;

  }

  .pattern-2{
      position: absolute;
      z-index: -1;
      top: 65%;
      opacity: 0.03;
      right: 15%;

  }

  .line{
    height: 4px;
    width: 50%;
    margin: 50px auto;

    &.line-pink{
      background: #fc7aac;
    }

    &.line-blue{
      background: #2e3292;
    }

    &.line-purple{
      background: #46348a;
    }
  }
  .card-collection{
    position: relative;
    height: 300px;
    width: 70%;
    border-radius: 6px;
    margin-top: 150px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    img{
      width: 100%;
      margin-top: -100px;
      margin-left: -50px;
    }

    .basket{
      position: absolute;
      height: 100px;
      width: 100px;
      background: white;
      border-radius: 50%;
      top: -50px;
      right: -50px;
      border: 10px solid white;
      background-size: cover;
      transition: 0.2s ease;
      &.basket-donut{
          background-image: url("../../assets/img/donut-color.png");
      }

      &.basket-tank{
          background-image: url("../../assets/img/tank-color.png");
      }

      &.basket-duck{
          background-image: url("../../assets/img/duck-color.png");
      }
      &:hover{
        transition: 0.2s ease;
        box-shadow: 9px 0px 22px 0px #d0d0d0;
      }
    }

    i{
      color: white;
      padding: 24px 28px;
      font-size: 30px;
    }

    &.donut{
      background-image: url("../../assets/img/donut-color.png");

    }

    &.tank{
      background-image: url("../../assets/img/tank-color.png");
    }

    &.duck{
      background-image: url("../../assets/img/duck-color.png");
    }
  }
}
