
nav{
  background: white;
  color: black;
  &.navbar{
    z-index: 20;
    background: transparent;
    width: 100%;
    &.navbar-black{
      background: #151515;
    }
    &.navbar-absolute{
      position: absolute;
    }

    .collapse{
      border: none;
    }

    &.navbar-text-blue{
      .nav-link{
        color: #6468ea;
      }
    }
  }
  .nav-item{
    margin: 0px 20px;
  }
  .nav-link{
    color: white;
    font-weight: 700;
    padding: 10px 25px;
    font-size: 12px;
    i{
      font-size: 18px;
      position: relative;
      .badge{
        position: absolute;
        padding: 2px 5px;
        right: -10px;
        top: -5px;
      }
    }
  }
  .navbar-brand{
    width: 10%;
    img{
      width: 100%;
    }
  }

  .navbar-collapse-header{
    display: none;
    img{
      width: 50%;
      margin: 15px 0;
    }

    .navbar-toggler{
      position: absolute;
      top: 15px;
      right: 25px;
      color: #b7b7b7;
    }
  }
}

//navbar toggler

button.navbar-toggler{
  border: none;
  outline: none;
  .navbar-toggler-icon{
    background-image: none;
    .line{
      display: block;
      width: 20px;
      height: 2px;
      background: white;
      margin: 4px 0;
      transition: 0.3s ease;
    }
  }
}

.nav-open{
  button.navbar-toggler{
    .navbar-toggler-icon{
      .line{
        transition: 0.3s ease 0.5s;
        &.line2{
          display: none;
        }

        &.line1{
          transform: rotate(45deg);
          position: absolute;
          top: 10%;
        }

        &.line3{
          transform: rotate(-45deg);
          position: absolute;
          top: 10%;
        }
      }
    }
  }
}
