.nav-tabs{
  border-bottom: 5px solid orange;
  .nav-item{
    margin-bottom: -2px;
    .nav-link{
      text-transform: uppercase;
      padding: 15px 35px;
      font-weight: 600;
      font-size: 16px;
      margin: auto;
      color: #555;
      border: none;
      border-radius: 0;

      &.active{
        background: orange;
        border: none;
        color: white;

        &:hover{
          background: orange;
        }

      }

      &:hover{
        border: none;
        background: rgba(255,165,0,0.1);
      }
    }

  }
}
